@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html, body, [class*="css"]  {
    font-family: "Open Sans";
}

#neurogpt {
  text-align: center;
}

div[data-baseweb="base-input"] {
    float: left;
}

button[kind="secondaryFormSubmit"] {
    float: right;
}
